<h1>Add a Company</h1>
<form action="/company" method="post">

<div>
	<label for="">Name: </label>
	<input type="text" name="name">
</div>

<div>
    <label for="">Adress: </label>
	<input type="text" name="adress">
</div>

<div>
	<label for="">Size: </label>
	<input type="number" name="size">
</div>

<div>
   <label for="">Project phase: </label>
   <input type="number" name="Projects.phase">
</div>

<div>
   <label for="">Project type: </label>
   <input type="text" name="Projects.type">
</div>



	<button type="submit">Add this Company</button>

</form>