
<header >
<div class="nav">
    <div class="boxAbout">

<h7> Join the architecture community </h7>

</div>

<div class=" boxHeader" >
    {{#if user}}
    <p class="welcome-text">Welcome, {{user.username}}.</p>
    <a href="/logout" class="btn btn-outline-light log-out-button" role="button">Log Out </a>
    {{else}}
    <a href="about" class="btn btn-outline-light" role="button">About us</a>
    <a href="login" class="btn btn-outline-light" role="button">Log in</a>
    <a href="signup" class="btn btn-outline-light" role="button" > Sign in</a>
    {{/if}}
</div>

</header>


<h1 id="main-title">Workplace insights for your self-empowerment</h1>
<div class="containerSearch">

  
    <form autocomplete="off" action="/result" method="GET" class="formSearch">
    <label for="company-search"> </label>
    <input class="search-field" type="search" name="q" id="company-search" placeholder="Search a company...">
    <div id="result"></div>
    <button class="search-button">
    <img src="/images/searchPNG.png">
    </button>
    </form>
    <br>
    <p class="bettertxt">or you can start by <a href="addcompany" class="links">adding your Workplace</a> to the list </p>
</div>








