
<form action="/login" method="POST" class="logsign">
	<label for="username">Username: </label>
	<input type="text" name="username">
	<label for="password">Password: </label>
	<input type="password" name="password">
	<button type="submit"  class="btn btn-warning">Log in</button>
	{{#if message}}
		<p>{{message}}</p>
	{{/if}}


	<img src="/images/box-trap.png" width="70px" height="70px">
</form>

