<div class="title">
<h3 class="second-title">your search results</h3>
</div>
<div class="card-container">
{{#each companies}}
    <div class="card">
        <img src="images/box-trap.png" class="card-img-top" alt="logo">
        <div class="card-body">
            <a href="/company/{{_id}}" id="company-card">
                <h6 class="card-title"><strong>{{name}}</strong></h6>
                <p class="card-text">{{city}}</p>
            </a>
        </div>
    </div>
{{/each}}
</div>

{{#if message}}
    <h3>{{message}}</h3>
{{/if}}

{{#unless companies}}
    <div class="card-not-found">
        <h3 id="no-result">Oops, no results found!</h3>
        <p class="plain">Wanna try again?</p>
        <h6><a href="/" class="button-link" ><strong>Yes</strong></a></h6>
        <img src="images/box-trap.png" class="card-img" alt="logo" >
        <h6><a href="/addcompany" class="button-link"><strong>No, I'd rather start a review by myself</strong></a></h6>
    </div>
{{/unless}}


  
  
 
  
