
<p>your search results</p>
{{#each companies}}
    <div>
        <a href="/company/{{_id}}"><p>{{name}}</p></a>
        <p>{{city}}</p>
    </div>
{{/each}}

{{#if message}}
    <h3>{{message}}</h3>
{{/if}}

{{#unless companies}}
<a href="/"><p>Wanna try again?</p></a>
<a href="/add"><p>or you can leave the first review here!</p></a>
{{/unless}}
