<h1>Search Results</h1>


{{#with companies}}
    <a href="/company/{{_id}}">
        <h2>{{name}}</h2>
    </a>
{{/with}}

{{#if message}}
    <h3>{{message}}</h3>
{{/if}}

{{#unless companies}}
<a href="/"><p>Wanna try again?</p></a>
<a href="/add"><p>or you can leave the first review here!</p></a>
{{/unless}}
