

{{#with companies}}
    <div>
        <a href="/company/{{_id}}"><h2>{{name}}</h2></a>
        <h2>{{city}}</h2>
    </div>
{{/with}}

{{#if message}}
    <h3>{{message}}</h3>
{{/if}}

{{#unless companies}}
<a href="/"><p>Wanna try again?</p></a>
<a href="/add"><p>or you can leave the first review here!</p></a>
{{/unless}}
