<div class="title">
<h4>your search results</h4>
</div>
<div class="card-container">
{{#each companies}}
    <div class="card">
        <img src="images/box-trap.png" class="card-img-top" alt="logo">
        <div class="card-body">
            <a href="/company/{{_id}}" id="company-card">
                <h6 class="card-title"><strong>{{name}}</strong></h6>
                <p class="card-text">{{city}}</p>
            </a>
        </div>
    </div>
{{/each}}
</div>

{{#if message}}
    <h3>{{message}}</h3>
{{/if}}

{{#unless companies}}
<a href="/"><p>Wanna try again?</p></a>
<a href="/add"><p>or you can leave the first review here!</p></a>
{{/unless}}


  
  
 
  
