


<form action="/signup" method="POST" class="logsign">
	<label for="username">Username: </label>
	<input type="text" name="username">

	<label for="password">Password: </label>
	<input type="password" name="password">
    
	<button class="btn btn-warning" type="submit">Sign up</button>
	{{#if message}}
		<p>{{message}}</p>
	{{/if}}
</form>