

body {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
background-image: url(/images/tunnelpic.jpg);
background-size: cover;
color: rgb(255, 255, 255);
background-repeat: no-repeat; 
text-align: center;
}

/*nav bar*/
.nav {
display: flex;
flex-direction: row;
justify-content: space-between; 
font-size: 14px;
text-align: center;
height: 8vh;  
background-color: rgba(0, 0, 0, 0.562);
width: 100vw;
color: rgb(255, 255, 255);
}

.boxHeader{
display: flex;
justify-content: flex-end;
padding: 6px;
}

.boxAbout{
display: flex;
justify-content: center;
padding: 6px;
}

.redirectHP a {
text-decoration: none;
color: whitesmoke;
text-align: center;
position: absolute; top :8px; left :43%;
letter-spacing: 2px;
}

/* end nav bar*/


h1 {
text-align: center;
font-size: 24px;
color: rgb(214, 202, 32);
position: absolute; top :140px;
}

h2 {
text-align: center;
font-size: 22px;
color: rgb(243, 231, 226);
position: absolute; top :80px;
  }


footer {
margin-top: auto;
justify-content: space-between; 
text-align: center;
padding: 7px;
position: fixed;
bottom: 0px;
background-color: rgba(0, 0, 0, 0.438);
color: white;
width: 100%;
}

.logsign {
margin-top: 80px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgba(242, 242, 242, 0.356);
height: 360px;
width: 400px;
border: radius 12px;
}

.btn btn-warning {
  font-family: 'Poppins', sans-serif;
  background-color: purple;
  color: black;
  border: none;
  width: 180px;
  height: 40px;
  margin-top: 30px;
  border-radius:7px;
}

.formSearch {
  display: flex;
  flex-direction: row;
}

.containerSearch {
  margin: 200px auto;
  width: 500px;
  height: 60px
}

.formSearch {
  display: flex;
  flex-direction: row;
}

.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.formReview{
  margin: 40px 80px;
}

.card2{
  /* Add shadows to create the "card" effect */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 40px;
  margin-top: 40px;
}
/* Add some padding inside the card container */

.container2 {
  background-color: #2F4F4F ;
  padding: 2px 16px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  background-color: #000032;
  height: 48vh;
  width: 20vw;
  border-radius: 10px;
}

.card-body {
  margin: auto;
  width: 100%;
  height: 30%;
  margin-top: 8px;
}

#company-card {
  text-decoration: none;
  text-align: left;
  color: #aa4fe8;
}

.card-img-top {
  margin: auto;
  height: 65%;
  width: 85%;
  background-size: cover;
}

.card-title{
  font-size: 1.3em;
}

.card-container {
  width: 100vw;
  padding-left: 2.3%;
  padding-right: 2.3%;
  padding-top: 1.5%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.title {
  display: block;
  margin-top: 40px;
  color: #ead9fa;
}