* {
  /* Reset browser's padding and margin */
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;
  align-items: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/ptunnel.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
  background-repeat: no-repeat; 
  text-align: center;
}

header {
display: flex;
justify-content: space-between; 
width: 1200px;
text-align: center;
background-color: black;
padding: 14px;
width: 100%;
}

  
.boxHeader{
  display: flex;
  justify-content: flex-end;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


footer {
margin-top: auto;
justify-content: space-between; 
text-align: center;
padding: 7px;
position: fixed;
bottom: 0px;
background-color: rgba(0, 0, 0, 0.438);
color: white;
width: 100%;
}


.logsign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 242, 242, 0.356);
  height: 160px;
  width: 400px;
  border: radius 10px;
}


.btn btn-warning {
  font-family: 'Poppins', sans-serif;
  background-color: purple;
  color: black;
  border: none;
  width: 180px;
  height: 40px;
  margin-top: 30px;
  border-radius:7px;
}

.formSearch {
  display: flex;
  flex-direction: row;
}

.containerSearch {
  margin: 200px auto;
  width: 500px;
  height: 60px
}

.formSearch {
  display: flex;
  flex-direction: row;
}
.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.formReview{
  margin: 40px 80px;
}
.card2{
  /* Add shadows to create the "card" effect */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 40px;
  margin-top: 40px;
}
/* Add some padding inside the card container */
.container2 {
  background-color: #2F4F4F ;
  padding: 2px 16px;
}